.~lock.CharacterList.doc#
equalweights-strict.tre
equalweights.export
equalweights.log
equalweights-apomorphies.log
equalweights.tre
impliedweights-strict.tre
impliedweights.export
impliedweights.log
impliedweights.tre
previous
tnt
tnt-mac-no-tax-limit.zip
tnt-win-no-tax-limit.zip
